@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,800;1,600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.responsiveMessage{
  font-size:10px;
  border-radius:8px;
}

.responsiveBtn{
  min-height: 50px;
  min-width: 200px;
  border-radius: 7px;
  border: none;
  border-radius: 7px;
  padding: 12px;
  font-weight: 400;
}

.respInitialsM{
  width: 88%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600 !important;
  font-size: 3.5rem !important;
}

a {
  font-family:'Raleway'; 
  font-weight:400;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400 !important;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 600 !important;
}

.customInput::placeholder {                
  /* Firefox, Chrome, Opera */ 
  padding-right: auto; 
  font-family: 'Raleway';
} 
.customInput {                
  /* Firefox, Chrome, Opera */ 
  max-width: 300px;
  padding-left: 4%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
} 

input:focus {
  outline: none !important;
  border-color: #0BC5B9 !important;
  box-shadow: 0 0 10px #0BC5B9 !important;
}

select:focus {
  outline: none !important;
  border-color: #0BC5B9 !important;
  box-shadow: 0 0 10px #0BC5B9 !important;
}

.vertical-center {
  min-height: 600px;

  display: flex;
  align-items: center;
}

.miniCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.simple-linear {
  background: linear-gradient(#EDFBFA, white);
}
* {
  box-sizing: border-box;
}

#inputRow > *{
  display: none;
}

.customMoving {
  display: flex; 
  flex-direction: column;
}

.circlesSize{
  height:600px;
  width:600px;
}

.customMovingImg11 {
  justify-self: start;
  align-self: start;
  flex: 1;
}

.customMovingImg1 {
  justify-self: center;
  align-self: center;
  flex: 1;
}

.customMovingImg2 {
  justify-self: end;
  align-self: end;
  flex: 1;
}
.customMovingImg21 {
  align-self: center;
  margin-left: 31%;
  flex: 1;
}

.specialBackground {
  width: 97%;
  min-height: 75%;
  background-color: #0BC5B9;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  bottom:0;
}

.ovalBackground {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #EDFBFA;
  position: absolute;
  bottom:0;
}

@media only screen and (max-width: 1000px) {
  .responsiveMessage{
    font-size:9px;
  }

  .hiddenMessage {
    display: none;
  }

  .circlesSize{
    height:280px;
    width:280px;
  }
  
  .ovalBackground {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #EDFBFA;
    position: absolute;
    bottom:0;
  }

  .respInitialsM{
    width:85%;
    height: 100%;
    font-size: 9px;
  }
  .responsiveBtn{
    min-height: 50px;
    min-width: 50px;
    font-size: 10px;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
    font-size: 1.5rem !important;
  }

  .headings{
    font-size: 1rem;
  }

  .vertical-center {
    min-height: 300px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .specialBackground {
    width: 50%;
    min-height: 65%;
    background-color: #0BC5B9;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: absolute;
    bottom:0;
  }

  .miniCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .customInput {                
    /* Firefox, Chrome, Opera */ 
    width: 55%;
    height: 50px;
    font-size: 10px;
  } 
}



@media only screen and (min-width: 1000px) {

  .customInput {                
    /* Firefox, Chrome, Opera */ 
    min-width: 300px;
  } 

}

/* .spin {
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 20s linear infinite;
}


@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */