@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@700;800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="text"]::placeholder {                
  /* Firefox, Chrome, Opera */ 
  padding-left: 10px; 
} 
input[type="text"] {                
  /* Firefox, Chrome, Opera */ 
  max-width: 300px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
} 
.headings{
  font-size: 3.5rem;
}

.miniCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.simple-linear {
  background: linear-gradient(#EDFBFA, white);
}
* {
  box-sizing: border-box;
}

#inputRow > *{
  display: none;
}

.specialBackground {
  width: 97%;
  min-height: 75%;
  background-color: #0BC5B9;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: absolute;
  bottom:0;
}

@media only screen and (max-width: 1000px) {

  .headings{
    font-size: 1rem;
  }


  .specialBackground {
    width: 50%;
    min-height: 65%;
    background-color: #0BC5B9;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: absolute;
    bottom:0;
  }

  .miniCards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}



@media only screen and (min-width: 1000px) {

  input[type="text"] {                
    /* Firefox, Chrome, Opera */ 
    min-width: 300px;
  } 
}
